#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 525px 250px #fff, 1211px 1961px #fff, 33px 1791px #fff,
    41px 298px #fff, 177px 1170px #fff, 1750px 833px #fff, 1687px 1031px #fff,
    1695px 1060px #fff, 1356px 107px #fff, 1860px 118px #fff, 1524px 281px #fff,
    509px 156px #fff, 1747px 14px #fff, 1812px 669px #fff, 470px 854px #fff,
    676px 335px #fff, 817px 1411px #fff, 619px 1887px #fff, 1732px 1807px #fff,
    352px 186px #fff, 301px 1395px #fff, 1950px 1988px #fff, 1775px 1097px #fff,
    1754px 1334px #fff, 1175px 1014px #fff, 29px 247px #fff, 1622px 1120px #fff,
    1670px 1788px #fff, 535px 966px #fff, 255px 219px #fff, 1872px 760px #fff,
    1856px 377px #fff, 1987px 1009px #fff, 680px 86px #fff, 1520px 1460px #fff,
    1321px 1624px #fff, 1771px 1391px #fff, 1957px 1563px #fff,
    613px 1608px #fff, 347px 491px #fff, 460px 1438px #fff, 163px 269px #fff,
    1436px 1412px #fff, 1106px 558px #fff, 1700px 1273px #fff,
    1006px 1099px #fff, 1936px 272px #fff, 1546px 875px #fff, 939px 1427px #fff,
    776px 1524px #fff, 638px 1451px #fff, 1278px 1754px #fff, 1124px 197px #fff,
    868px 1215px #fff, 480px 1544px #fff, 1672px 425px #fff, 1130px 1047px #fff,
    177px 817px #fff, 377px 1571px #fff, 1351px 988px #fff, 1580px 1803px #fff,
    529px 108px #fff, 1188px 1129px #fff, 1254px 486px #fff, 1419px 67px #fff,
    1976px 1162px #fff, 1226px 310px #fff, 1040px 270px #fff, 252px 287px #fff,
    627px 1910px #fff, 1273px 1671px #fff, 1999px 349px #fff, 1258px 512px #fff,
    57px 582px #fff, 104px 518px #fff, 441px 1160px #fff, 1178px 1998px #fff,
    108px 937px #fff, 1727px 1342px #fff, 471px 459px #fff, 590px 1205px #fff,
    1468px 1271px #fff, 681px 395px #fff, 426px 1080px #fff, 46px 1272px #fff,
    189px 826px #fff, 1702px 1613px #fff, 1011px 316px #fff, 663px 1919px #fff,
    1072px 292px #fff, 878px 82px #fff, 505px 1180px #fff, 1400px 1676px #fff,
    1445px 132px #fff, 460px 202px #fff, 1744px 743px #fff, 849px 139px #fff,
    1771px 187px #fff, 1206px 1367px #fff, 1995px 802px #fff, 601px 212px #fff,
    124px 620px #fff, 663px 494px #fff, 1901px 1562px #fff, 1855px 875px #fff,
    510px 36px #fff, 1242px 726px #fff, 256px 1068px #fff, 412px 425px #fff,
    1045px 885px #fff, 580px 3px #fff, 1964px 1810px #fff, 1399px 836px #fff,
    1982px 1879px #fff, 61px 1225px #fff, 1810px 1513px #fff, 1517px 450px #fff,
    1151px 1348px #fff, 1337px 12px #fff, 1101px 1821px #fff, 103px 1404px #fff,
    1112px 208px #fff, 1019px 1350px #fff, 91px 978px #fff, 479px 1555px #fff,
    663px 719px #fff, 1878px 1064px #fff, 73px 916px #fff, 1761px 1846px #fff,
    1280px 1514px #fff, 456px 537px #fff, 1669px 1993px #fff, 641px 1843px #fff,
    1597px 1066px #fff, 1130px 1570px #fff, 772px 1616px #fff, 1161px 611px #fff,
    1332px 1138px #fff, 458px 636px #fff, 61px 1529px #fff, 1056px 1521px #fff,
    410px 523px #fff, 610px 451px #fff, 1476px 535px #fff, 325px 271px #fff,
    1030px 1169px #fff, 1201px 251px #fff, 720px 848px #fff, 1847px 22px #fff,
    1065px 342px #fff, 753px 808px #fff, 1695px 1833px #fff, 1393px 1257px #fff,
    842px 75px #fff, 1452px 1040px #fff, 1188px 543px #fff, 291px 1979px #fff,
    1737px 958px #fff, 1369px 510px #fff, 1420px 1084px #fff, 1731px 1336px #fff,
    612px 1722px #fff, 1636px 1605px #fff, 434px 44px #fff, 1585px 725px #fff,
    1671px 917px #fff, 1259px 1071px #fff, 1294px 1860px #fff, 855px 1469px #fff,
    270px 469px #fff, 1244px 1224px #fff, 1049px 1772px #fff, 851px 803px #fff,
    970px 823px #fff, 992px 1291px #fff, 1514px 619px #fff, 135px 75px #fff,
    354px 1310px #fff, 796px 647px #fff, 873px 986px #fff, 590px 84px #fff,
    1476px 1450px #fff, 1585px 1772px #fff, 171px 1971px #fff, 1566px 625px #fff,
    1396px 210px #fff, 1487px 1015px #fff, 147px 1358px #fff, 1311px 1000px #fff,
    1511px 265px #fff, 426px 1811px #fff, 1478px 1142px #fff, 737px 94px #fff,
    117px 382px #fff, 1577px 742px #fff, 1579px 539px #fff, 509px 69px #fff,
    1156px 197px #fff, 221px 582px #fff, 1910px 91px #fff, 426px 1793px #fff,
    422px 1733px #fff, 92px 1558px #fff, 1694px 1100px #fff, 911px 149px #fff,
    1571px 666px #fff, 1291px 189px #fff, 1066px 1393px #fff, 1204px 1766px #fff,
    1112px 814px #fff, 801px 430px #fff, 471px 225px #fff, 853px 541px #fff,
    773px 396px #fff, 1661px 988px #fff, 1276px 349px #fff, 1920px 384px #fff,
    1332px 1156px #fff, 1799px 512px #fff, 1878px 1883px #fff, 708px 1263px #fff,
    908px 49px #fff, 235px 1814px #fff, 1617px 1357px #fff, 1023px 1220px #fff,
    1694px 879px #fff, 1251px 1655px #fff, 154px 1710px #fff, 1570px 167px #fff,
    369px 1179px #fff, 784px 826px #fff, 1802px 1769px #fff, 210px 269px #fff,
    449px 1792px #fff, 1418px 1561px #fff, 314px 614px #fff, 1516px 1754px #fff,
    1415px 1334px #fff, 1219px 195px #fff, 144px 408px #fff, 1263px 1111px #fff,
    267px 1951px #fff, 952px 1746px #fff, 1740px 393px #fff, 982px 408px #fff,
    1983px 710px #fff, 221px 815px #fff, 206px 466px #fff, 63px 1697px #fff,
    1528px 909px #fff, 1130px 986px #fff, 309px 735px #fff, 1065px 994px #fff,
    454px 421px #fff, 1499px 884px #fff, 589px 1355px #fff, 920px 563px #fff,
    1596px 117px #fff, 1861px 906px #fff, 806px 1002px #fff, 1201px 445px #fff,
    1574px 1224px #fff, 1904px 1508px #fff, 911px 508px #fff, 1930px 1446px #fff,
    27px 1764px #fff, 1468px 1650px #fff, 1406px 196px #fff, 1505px 770px #fff,
    1896px 773px #fff, 1540px 1729px #fff, 86px 1015px #fff, 1010px 1210px #fff,
    106px 1033px #fff, 549px 403px #fff, 1059px 239px #fff, 965px 1462px #fff,
    1794px 1669px #fff, 786px 1936px #fff, 797px 1786px #fff, 191px 674px #fff,
    618px 1149px #fff, 822px 310px #fff, 1684px 1970px #fff, 72px 1886px #fff,
    163px 1734px #fff, 34px 682px #fff, 1417px 619px #fff, 693px 69px #fff,
    345px 1550px #fff, 820px 1293px #fff, 1686px 1565px #fff, 1167px 479px #fff,
    450px 1154px #fff, 1166px 231px #fff, 1098px 1393px #fff, 877px 212px #fff,
    829px 763px #fff, 646px 1179px #fff, 1805px 1656px #fff, 1522px 339px #fff,
    1523px 133px #fff, 1469px 1975px #fff, 1028px 358px #fff, 1428px 493px #fff,
    548px 1756px #fff, 1774px 1425px #fff, 764px 1438px #fff, 1898px 114px #fff,
    1773px 3px #fff, 455px 1815px #fff, 1784px 458px #fff, 450px 1640px #fff,
    954px 598px #fff, 61px 1679px #fff, 1575px 1073px #fff, 866px 442px #fff,
    887px 1944px #fff, 579px 943px #fff, 1977px 941px #fff, 1687px 1148px #fff,
    1388px 1622px #fff, 923px 1486px #fff, 639px 633px #fff, 14px 1485px #fff,
    1998px 823px #fff, 361px 1169px #fff, 948px 1083px #fff, 1238px 604px #fff,
    880px 512px #fff, 1100px 359px #fff, 967px 1137px #fff, 587px 501px #fff,
    36px 10px #fff, 437px 951px #fff, 1257px 1185px #fff, 811px 1222px #fff,
    798px 983px #fff, 1407px 95px #fff, 156px 1224px #fff, 346px 201px #fff,
    1757px 948px #fff, 1453px 1511px #fff, 1252px 1327px #fff, 486px 972px #fff,
    182px 1913px #fff, 698px 33px #fff, 1584px 647px #fff, 592px 412px #fff,
    1281px 1913px #fff, 1646px 1986px #fff, 62px 884px #fff, 1466px 1195px #fff,
    817px 997px #fff, 662px 270px #fff, 1806px 471px #fff, 834px 1018px #fff,
    320px 795px #fff, 1329px 623px #fff, 1312px 512px #fff, 940px 603px #fff,
    1220px 417px #fff, 1648px 976px #fff, 1453px 898px #fff, 1255px 394px #fff,
    1927px 1424px #fff, 521px 516px #fff, 326px 843px #fff, 1605px 1116px #fff,
    1567px 1707px #fff, 1437px 1783px #fff, 359px 1651px #fff, 1099px 34px #fff,
    957px 1240px #fff, 1234px 228px #fff, 1257px 1450px #fff, 553px 281px #fff,
    967px 1689px #fff, 725px 1408px #fff, 311px 1838px #fff, 1926px 489px #fff,
    253px 2px #fff, 322px 758px #fff, 1234px 447px #fff, 92px 1387px #fff,
    1034px 9px #fff, 1013px 1018px #fff, 784px 708px #fff, 1288px 1679px #fff,
    91px 1289px #fff, 874px 1578px #fff, 1867px 182px #fff, 1392px 200px #fff,
    1862px 1630px #fff, 46px 163px #fff, 651px 1473px #fff, 1890px 1162px #fff,
    1425px 824px #fff, 1788px 653px #fff, 1095px 1450px #fff, 1499px 1183px #fff,
    1264px 1288px #fff, 477px 484px #fff, 1358px 913px #fff, 729px 1662px #fff,
    386px 539px #fff, 740px 1318px #fff, 486px 454px #fff, 561px 338px #fff,
    1258px 1303px #fff, 669px 401px #fff, 656px 1825px #fff, 288px 1225px #fff,
    1742px 1295px #fff, 1553px 870px #fff, 1416px 1199px #fff, 1342px 961px #fff,
    1143px 1598px #fff, 1486px 1230px #fff, 1799px 1293px #fff,
    758px 1628px #fff, 1011px 1719px #fff, 1299px 1964px #fff, 363px 1492px #fff,
    346px 406px #fff, 289px 1776px #fff, 974px 1704px #fff, 1887px 1681px #fff,
    182px 1546px #fff, 511px 1957px #fff, 1519px 682px #fff, 356px 1224px #fff,
    284px 70px #fff, 890px 1310px #fff, 251px 1027px #fff, 1226px 264px #fff,
    216px 1271px #fff, 1013px 1400px #fff, 208px 424px #fff, 913px 670px #fff,
    871px 1555px #fff, 1533px 146px #fff, 964px 1665px #fff, 791px 325px #fff,
    1370px 352px #fff, 1638px 1227px #fff, 1837px 313px #fff, 1063px 1075px #fff,
    1542px 1283px #fff, 835px 1151px #fff, 369px 302px #fff, 111px 1290px #fff,
    566px 702px #fff, 186px 1656px #fff, 645px 1694px #fff, 635px 1242px #fff,
    1907px 1612px #fff, 1832px 602px #fff, 822px 238px #fff, 1284px 1840px #fff,
    690px 394px #fff, 394px 1511px #fff, 13px 1472px #fff, 1741px 994px #fff,
    1910px 1764px #fff, 1185px 1097px #fff, 1416px 1609px #fff, 1105px 33px #fff,
    90px 461px #fff, 1169px 590px #fff, 1165px 819px #fff, 795px 1670px #fff,
    1965px 1062px #fff, 1406px 971px #fff, 707px 850px #fff, 655px 922px #fff,
    1991px 97px #fff, 489px 110px #fff, 1921px 425px #fff, 989px 1941px #fff,
    981px 820px #fff, 270px 1311px #fff, 902px 901px #fff, 852px 1803px #fff,
    1692px 1052px #fff, 1287px 1637px #fff, 1887px 815px #fff, 240px 568px #fff,
    565px 1121px #fff, 818px 845px #fff, 816px 525px #fff, 728px 138px #fff,
    414px 407px #fff, 72px 1750px #fff, 1896px 1450px #fff, 1044px 548px #fff,
    1452px 1923px #fff, 1775px 491px #fff, 367px 775px #fff, 839px 422px #fff,
    69px 159px #fff, 1634px 1556px #fff, 321px 933px #fff, 924px 1414px #fff,
    1405px 1973px #fff, 389px 493px #fff, 997px 1773px #fff, 1489px 1325px #fff,
    1463px 1625px #fff, 652px 1962px #fff, 1940px 981px #fff, 323px 1980px #fff,
    1568px 682px #fff, 1192px 385px #fff, 1270px 1178px #fff, 277px 8px #fff,
    67px 135px #fff, 688px 949px #fff, 1454px 92px #fff, 1561px 1848px #fff,
    858px 1956px #fff, 480px 1462px #fff, 1656px 951px #fff, 73px 1381px #fff,
    1091px 50px #fff, 1303px 1655px #fff, 793px 364px #fff, 370px 1521px #fff,
    158px 187px #fff, 1340px 1842px #fff, 209px 481px #fff, 773px 113px #fff,
    1743px 423px #fff, 524px 1771px #fff, 88px 132px #fff, 252px 259px #fff,
    369px 616px #fff, 770px 210px #fff, 1500px 1419px #fff, 347px 1086px #fff,
    617px 151px #fff, 164px 1605px #fff, 1289px 34px #fff, 1137px 1656px #fff,
    1692px 1048px #fff, 120px 1416px #fff, 1195px 1705px #fff, 761px 1273px #fff,
    1938px 256px #fff, 519px 1218px #fff, 274px 1578px #fff, 1289px 1446px #fff,
    1220px 1488px #fff, 1705px 1565px #fff, 1022px 147px #fff, 773px 827px #fff,
    1173px 410px #fff, 1538px 657px #fff, 62px 545px #fff, 1364px 670px #fff,
    1846px 132px #fff, 424px 853px #fff, 944px 1662px #fff, 516px 713px #fff,
    649px 218px #fff, 568px 1214px #fff, 1437px 1592px #fff, 82px 1152px #fff,
    1137px 1998px #fff, 1094px 90px #fff, 640px 477px #fff, 269px 678px #fff,
    560px 1767px #fff, 1358px 148px #fff, 1421px 1514px #fff, 885px 1582px #fff,
    1829px 1591px #fff, 199px 274px #fff, 1933px 675px #fff, 1876px 300px #fff,
    1188px 1617px #fff, 474px 1708px #fff, 1344px 984px #fff, 650px 775px #fff,
    680px 1118px #fff, 417px 506px #fff, 1998px 124px #fff, 1614px 25px #fff,
    748px 365px #fff, 902px 1780px #fff, 480px 1802px #fff, 340px 1927px #fff,
    995px 1478px #fff, 331px 1033px #fff, 1325px 564px #fff, 1630px 1215px #fff,
    511px 1007px #fff, 1202px 1301px #fff, 1003px 1082px #fff, 281px 883px #fff,
    1975px 52px #fff, 552px 382px #fff, 1180px 778px #fff, 1666px 164px #fff,
    1294px 1501px #fff, 1559px 347px #fff, 653px 1340px #fff, 1830px 1837px #fff,
    551px 956px #fff, 1537px 60px #fff, 956px 1568px #fff, 853px 1120px #fff,
    964px 1086px #fff, 1186px 458px #fff, 266px 823px #fff, 1096px 571px #fff,
    1619px 37px #fff, 249px 4px #fff, 1687px 1646px #fff, 375px 1810px #fff,
    1609px 1441px #fff, 1776px 74px #fff, 284px 1598px #fff, 1857px 1368px #fff,
    1094px 496px #fff, 626px 1235px #fff, 38px 961px #fff, 722px 1544px #fff,
    1170px 1245px #fff, 728px 1573px #fff, 1016px 21px #fff, 993px 1211px #fff,
    1168px 28px #fff, 499px 1068px #fff, 138px 1450px #fff, 1336px 1392px #fff,
    63px 633px #fff, 233px 446px #fff, 361px 982px #fff, 1093px 541px #fff,
    1238px 1344px #fff, 408px 1629px #fff, 51px 1541px #fff, 813px 723px #fff,
    545px 1290px #fff, 49px 408px #fff, 350px 982px #fff, 1853px 246px #fff,
    1189px 887px #fff, 1331px 467px #fff, 888px 852px #fff, 1640px 1719px #fff,
    431px 55px #fff, 1129px 1413px #fff, 987px 1013px #fff, 35px 980px #fff,
    1279px 517px #fff, 596px 950px #fff, 1263px 26px #fff, 371px 230px #fff,
    1183px 1452px #fff, 1763px 161px #fff, 866px 1299px #fff, 747px 1539px #fff,
    719px 55px #fff, 1040px 1703px #fff, 549px 950px #fff, 1340px 765px #fff,
    1360px 1785px #fff, 1434px 879px #fff, 1604px 1772px #fff,
    1408px 1071px #fff, 892px 1788px #fff, 1730px 1853px #fff,
    1339px 1227px #fff, 1286px 559px #fff, 259px 381px #fff, 94px 222px #fff,
    176px 1718px #fff, 812px 743px #fff, 200px 1855px #fff, 1738px 1937px #fff,
    1924px 951px #fff, 1380px 349px #fff, 207px 754px #fff, 1180px 542px #fff,
    1173px 1159px #fff, 1856px 1399px #fff, 65px 822px #fff, 122px 733px #fff,
    1980px 1776px #fff, 647px 192px #fff, 583px 1822px #fff, 1705px 26px #fff,
    1379px 1985px #fff, 448px 389px #fff, 1177px 330px #fff, 1037px 560px #fff,
    1566px 439px #fff, 1395px 271px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 525px 250px #fff, 1211px 1961px #fff, 33px 1791px #fff,
    41px 298px #fff, 177px 1170px #fff, 1750px 833px #fff, 1687px 1031px #fff,
    1695px 1060px #fff, 1356px 107px #fff, 1860px 118px #fff, 1524px 281px #fff,
    509px 156px #fff, 1747px 14px #fff, 1812px 669px #fff, 470px 854px #fff,
    676px 335px #fff, 817px 1411px #fff, 619px 1887px #fff, 1732px 1807px #fff,
    352px 186px #fff, 301px 1395px #fff, 1950px 1988px #fff, 1775px 1097px #fff,
    1754px 1334px #fff, 1175px 1014px #fff, 29px 247px #fff, 1622px 1120px #fff,
    1670px 1788px #fff, 535px 966px #fff, 255px 219px #fff, 1872px 760px #fff,
    1856px 377px #fff, 1987px 1009px #fff, 680px 86px #fff, 1520px 1460px #fff,
    1321px 1624px #fff, 1771px 1391px #fff, 1957px 1563px #fff,
    613px 1608px #fff, 347px 491px #fff, 460px 1438px #fff, 163px 269px #fff,
    1436px 1412px #fff, 1106px 558px #fff, 1700px 1273px #fff,
    1006px 1099px #fff, 1936px 272px #fff, 1546px 875px #fff, 939px 1427px #fff,
    776px 1524px #fff, 638px 1451px #fff, 1278px 1754px #fff, 1124px 197px #fff,
    868px 1215px #fff, 480px 1544px #fff, 1672px 425px #fff, 1130px 1047px #fff,
    177px 817px #fff, 377px 1571px #fff, 1351px 988px #fff, 1580px 1803px #fff,
    529px 108px #fff, 1188px 1129px #fff, 1254px 486px #fff, 1419px 67px #fff,
    1976px 1162px #fff, 1226px 310px #fff, 1040px 270px #fff, 252px 287px #fff,
    627px 1910px #fff, 1273px 1671px #fff, 1999px 349px #fff, 1258px 512px #fff,
    57px 582px #fff, 104px 518px #fff, 441px 1160px #fff, 1178px 1998px #fff,
    108px 937px #fff, 1727px 1342px #fff, 471px 459px #fff, 590px 1205px #fff,
    1468px 1271px #fff, 681px 395px #fff, 426px 1080px #fff, 46px 1272px #fff,
    189px 826px #fff, 1702px 1613px #fff, 1011px 316px #fff, 663px 1919px #fff,
    1072px 292px #fff, 878px 82px #fff, 505px 1180px #fff, 1400px 1676px #fff,
    1445px 132px #fff, 460px 202px #fff, 1744px 743px #fff, 849px 139px #fff,
    1771px 187px #fff, 1206px 1367px #fff, 1995px 802px #fff, 601px 212px #fff,
    124px 620px #fff, 663px 494px #fff, 1901px 1562px #fff, 1855px 875px #fff,
    510px 36px #fff, 1242px 726px #fff, 256px 1068px #fff, 412px 425px #fff,
    1045px 885px #fff, 580px 3px #fff, 1964px 1810px #fff, 1399px 836px #fff,
    1982px 1879px #fff, 61px 1225px #fff, 1810px 1513px #fff, 1517px 450px #fff,
    1151px 1348px #fff, 1337px 12px #fff, 1101px 1821px #fff, 103px 1404px #fff,
    1112px 208px #fff, 1019px 1350px #fff, 91px 978px #fff, 479px 1555px #fff,
    663px 719px #fff, 1878px 1064px #fff, 73px 916px #fff, 1761px 1846px #fff,
    1280px 1514px #fff, 456px 537px #fff, 1669px 1993px #fff, 641px 1843px #fff,
    1597px 1066px #fff, 1130px 1570px #fff, 772px 1616px #fff, 1161px 611px #fff,
    1332px 1138px #fff, 458px 636px #fff, 61px 1529px #fff, 1056px 1521px #fff,
    410px 523px #fff, 610px 451px #fff, 1476px 535px #fff, 325px 271px #fff,
    1030px 1169px #fff, 1201px 251px #fff, 720px 848px #fff, 1847px 22px #fff,
    1065px 342px #fff, 753px 808px #fff, 1695px 1833px #fff, 1393px 1257px #fff,
    842px 75px #fff, 1452px 1040px #fff, 1188px 543px #fff, 291px 1979px #fff,
    1737px 958px #fff, 1369px 510px #fff, 1420px 1084px #fff, 1731px 1336px #fff,
    612px 1722px #fff, 1636px 1605px #fff, 434px 44px #fff, 1585px 725px #fff,
    1671px 917px #fff, 1259px 1071px #fff, 1294px 1860px #fff, 855px 1469px #fff,
    270px 469px #fff, 1244px 1224px #fff, 1049px 1772px #fff, 851px 803px #fff,
    970px 823px #fff, 992px 1291px #fff, 1514px 619px #fff, 135px 75px #fff,
    354px 1310px #fff, 796px 647px #fff, 873px 986px #fff, 590px 84px #fff,
    1476px 1450px #fff, 1585px 1772px #fff, 171px 1971px #fff, 1566px 625px #fff,
    1396px 210px #fff, 1487px 1015px #fff, 147px 1358px #fff, 1311px 1000px #fff,
    1511px 265px #fff, 426px 1811px #fff, 1478px 1142px #fff, 737px 94px #fff,
    117px 382px #fff, 1577px 742px #fff, 1579px 539px #fff, 509px 69px #fff,
    1156px 197px #fff, 221px 582px #fff, 1910px 91px #fff, 426px 1793px #fff,
    422px 1733px #fff, 92px 1558px #fff, 1694px 1100px #fff, 911px 149px #fff,
    1571px 666px #fff, 1291px 189px #fff, 1066px 1393px #fff, 1204px 1766px #fff,
    1112px 814px #fff, 801px 430px #fff, 471px 225px #fff, 853px 541px #fff,
    773px 396px #fff, 1661px 988px #fff, 1276px 349px #fff, 1920px 384px #fff,
    1332px 1156px #fff, 1799px 512px #fff, 1878px 1883px #fff, 708px 1263px #fff,
    908px 49px #fff, 235px 1814px #fff, 1617px 1357px #fff, 1023px 1220px #fff,
    1694px 879px #fff, 1251px 1655px #fff, 154px 1710px #fff, 1570px 167px #fff,
    369px 1179px #fff, 784px 826px #fff, 1802px 1769px #fff, 210px 269px #fff,
    449px 1792px #fff, 1418px 1561px #fff, 314px 614px #fff, 1516px 1754px #fff,
    1415px 1334px #fff, 1219px 195px #fff, 144px 408px #fff, 1263px 1111px #fff,
    267px 1951px #fff, 952px 1746px #fff, 1740px 393px #fff, 982px 408px #fff,
    1983px 710px #fff, 221px 815px #fff, 206px 466px #fff, 63px 1697px #fff,
    1528px 909px #fff, 1130px 986px #fff, 309px 735px #fff, 1065px 994px #fff,
    454px 421px #fff, 1499px 884px #fff, 589px 1355px #fff, 920px 563px #fff,
    1596px 117px #fff, 1861px 906px #fff, 806px 1002px #fff, 1201px 445px #fff,
    1574px 1224px #fff, 1904px 1508px #fff, 911px 508px #fff, 1930px 1446px #fff,
    27px 1764px #fff, 1468px 1650px #fff, 1406px 196px #fff, 1505px 770px #fff,
    1896px 773px #fff, 1540px 1729px #fff, 86px 1015px #fff, 1010px 1210px #fff,
    106px 1033px #fff, 549px 403px #fff, 1059px 239px #fff, 965px 1462px #fff,
    1794px 1669px #fff, 786px 1936px #fff, 797px 1786px #fff, 191px 674px #fff,
    618px 1149px #fff, 822px 310px #fff, 1684px 1970px #fff, 72px 1886px #fff,
    163px 1734px #fff, 34px 682px #fff, 1417px 619px #fff, 693px 69px #fff,
    345px 1550px #fff, 820px 1293px #fff, 1686px 1565px #fff, 1167px 479px #fff,
    450px 1154px #fff, 1166px 231px #fff, 1098px 1393px #fff, 877px 212px #fff,
    829px 763px #fff, 646px 1179px #fff, 1805px 1656px #fff, 1522px 339px #fff,
    1523px 133px #fff, 1469px 1975px #fff, 1028px 358px #fff, 1428px 493px #fff,
    548px 1756px #fff, 1774px 1425px #fff, 764px 1438px #fff, 1898px 114px #fff,
    1773px 3px #fff, 455px 1815px #fff, 1784px 458px #fff, 450px 1640px #fff,
    954px 598px #fff, 61px 1679px #fff, 1575px 1073px #fff, 866px 442px #fff,
    887px 1944px #fff, 579px 943px #fff, 1977px 941px #fff, 1687px 1148px #fff,
    1388px 1622px #fff, 923px 1486px #fff, 639px 633px #fff, 14px 1485px #fff,
    1998px 823px #fff, 361px 1169px #fff, 948px 1083px #fff, 1238px 604px #fff,
    880px 512px #fff, 1100px 359px #fff, 967px 1137px #fff, 587px 501px #fff,
    36px 10px #fff, 437px 951px #fff, 1257px 1185px #fff, 811px 1222px #fff,
    798px 983px #fff, 1407px 95px #fff, 156px 1224px #fff, 346px 201px #fff,
    1757px 948px #fff, 1453px 1511px #fff, 1252px 1327px #fff, 486px 972px #fff,
    182px 1913px #fff, 698px 33px #fff, 1584px 647px #fff, 592px 412px #fff,
    1281px 1913px #fff, 1646px 1986px #fff, 62px 884px #fff, 1466px 1195px #fff,
    817px 997px #fff, 662px 270px #fff, 1806px 471px #fff, 834px 1018px #fff,
    320px 795px #fff, 1329px 623px #fff, 1312px 512px #fff, 940px 603px #fff,
    1220px 417px #fff, 1648px 976px #fff, 1453px 898px #fff, 1255px 394px #fff,
    1927px 1424px #fff, 521px 516px #fff, 326px 843px #fff, 1605px 1116px #fff,
    1567px 1707px #fff, 1437px 1783px #fff, 359px 1651px #fff, 1099px 34px #fff,
    957px 1240px #fff, 1234px 228px #fff, 1257px 1450px #fff, 553px 281px #fff,
    967px 1689px #fff, 725px 1408px #fff, 311px 1838px #fff, 1926px 489px #fff,
    253px 2px #fff, 322px 758px #fff, 1234px 447px #fff, 92px 1387px #fff,
    1034px 9px #fff, 1013px 1018px #fff, 784px 708px #fff, 1288px 1679px #fff,
    91px 1289px #fff, 874px 1578px #fff, 1867px 182px #fff, 1392px 200px #fff,
    1862px 1630px #fff, 46px 163px #fff, 651px 1473px #fff, 1890px 1162px #fff,
    1425px 824px #fff, 1788px 653px #fff, 1095px 1450px #fff, 1499px 1183px #fff,
    1264px 1288px #fff, 477px 484px #fff, 1358px 913px #fff, 729px 1662px #fff,
    386px 539px #fff, 740px 1318px #fff, 486px 454px #fff, 561px 338px #fff,
    1258px 1303px #fff, 669px 401px #fff, 656px 1825px #fff, 288px 1225px #fff,
    1742px 1295px #fff, 1553px 870px #fff, 1416px 1199px #fff, 1342px 961px #fff,
    1143px 1598px #fff, 1486px 1230px #fff, 1799px 1293px #fff,
    758px 1628px #fff, 1011px 1719px #fff, 1299px 1964px #fff, 363px 1492px #fff,
    346px 406px #fff, 289px 1776px #fff, 974px 1704px #fff, 1887px 1681px #fff,
    182px 1546px #fff, 511px 1957px #fff, 1519px 682px #fff, 356px 1224px #fff,
    284px 70px #fff, 890px 1310px #fff, 251px 1027px #fff, 1226px 264px #fff,
    216px 1271px #fff, 1013px 1400px #fff, 208px 424px #fff, 913px 670px #fff,
    871px 1555px #fff, 1533px 146px #fff, 964px 1665px #fff, 791px 325px #fff,
    1370px 352px #fff, 1638px 1227px #fff, 1837px 313px #fff, 1063px 1075px #fff,
    1542px 1283px #fff, 835px 1151px #fff, 369px 302px #fff, 111px 1290px #fff,
    566px 702px #fff, 186px 1656px #fff, 645px 1694px #fff, 635px 1242px #fff,
    1907px 1612px #fff, 1832px 602px #fff, 822px 238px #fff, 1284px 1840px #fff,
    690px 394px #fff, 394px 1511px #fff, 13px 1472px #fff, 1741px 994px #fff,
    1910px 1764px #fff, 1185px 1097px #fff, 1416px 1609px #fff, 1105px 33px #fff,
    90px 461px #fff, 1169px 590px #fff, 1165px 819px #fff, 795px 1670px #fff,
    1965px 1062px #fff, 1406px 971px #fff, 707px 850px #fff, 655px 922px #fff,
    1991px 97px #fff, 489px 110px #fff, 1921px 425px #fff, 989px 1941px #fff,
    981px 820px #fff, 270px 1311px #fff, 902px 901px #fff, 852px 1803px #fff,
    1692px 1052px #fff, 1287px 1637px #fff, 1887px 815px #fff, 240px 568px #fff,
    565px 1121px #fff, 818px 845px #fff, 816px 525px #fff, 728px 138px #fff,
    414px 407px #fff, 72px 1750px #fff, 1896px 1450px #fff, 1044px 548px #fff,
    1452px 1923px #fff, 1775px 491px #fff, 367px 775px #fff, 839px 422px #fff,
    69px 159px #fff, 1634px 1556px #fff, 321px 933px #fff, 924px 1414px #fff,
    1405px 1973px #fff, 389px 493px #fff, 997px 1773px #fff, 1489px 1325px #fff,
    1463px 1625px #fff, 652px 1962px #fff, 1940px 981px #fff, 323px 1980px #fff,
    1568px 682px #fff, 1192px 385px #fff, 1270px 1178px #fff, 277px 8px #fff,
    67px 135px #fff, 688px 949px #fff, 1454px 92px #fff, 1561px 1848px #fff,
    858px 1956px #fff, 480px 1462px #fff, 1656px 951px #fff, 73px 1381px #fff,
    1091px 50px #fff, 1303px 1655px #fff, 793px 364px #fff, 370px 1521px #fff,
    158px 187px #fff, 1340px 1842px #fff, 209px 481px #fff, 773px 113px #fff,
    1743px 423px #fff, 524px 1771px #fff, 88px 132px #fff, 252px 259px #fff,
    369px 616px #fff, 770px 210px #fff, 1500px 1419px #fff, 347px 1086px #fff,
    617px 151px #fff, 164px 1605px #fff, 1289px 34px #fff, 1137px 1656px #fff,
    1692px 1048px #fff, 120px 1416px #fff, 1195px 1705px #fff, 761px 1273px #fff,
    1938px 256px #fff, 519px 1218px #fff, 274px 1578px #fff, 1289px 1446px #fff,
    1220px 1488px #fff, 1705px 1565px #fff, 1022px 147px #fff, 773px 827px #fff,
    1173px 410px #fff, 1538px 657px #fff, 62px 545px #fff, 1364px 670px #fff,
    1846px 132px #fff, 424px 853px #fff, 944px 1662px #fff, 516px 713px #fff,
    649px 218px #fff, 568px 1214px #fff, 1437px 1592px #fff, 82px 1152px #fff,
    1137px 1998px #fff, 1094px 90px #fff, 640px 477px #fff, 269px 678px #fff,
    560px 1767px #fff, 1358px 148px #fff, 1421px 1514px #fff, 885px 1582px #fff,
    1829px 1591px #fff, 199px 274px #fff, 1933px 675px #fff, 1876px 300px #fff,
    1188px 1617px #fff, 474px 1708px #fff, 1344px 984px #fff, 650px 775px #fff,
    680px 1118px #fff, 417px 506px #fff, 1998px 124px #fff, 1614px 25px #fff,
    748px 365px #fff, 902px 1780px #fff, 480px 1802px #fff, 340px 1927px #fff,
    995px 1478px #fff, 331px 1033px #fff, 1325px 564px #fff, 1630px 1215px #fff,
    511px 1007px #fff, 1202px 1301px #fff, 1003px 1082px #fff, 281px 883px #fff,
    1975px 52px #fff, 552px 382px #fff, 1180px 778px #fff, 1666px 164px #fff,
    1294px 1501px #fff, 1559px 347px #fff, 653px 1340px #fff, 1830px 1837px #fff,
    551px 956px #fff, 1537px 60px #fff, 956px 1568px #fff, 853px 1120px #fff,
    964px 1086px #fff, 1186px 458px #fff, 266px 823px #fff, 1096px 571px #fff,
    1619px 37px #fff, 249px 4px #fff, 1687px 1646px #fff, 375px 1810px #fff,
    1609px 1441px #fff, 1776px 74px #fff, 284px 1598px #fff, 1857px 1368px #fff,
    1094px 496px #fff, 626px 1235px #fff, 38px 961px #fff, 722px 1544px #fff,
    1170px 1245px #fff, 728px 1573px #fff, 1016px 21px #fff, 993px 1211px #fff,
    1168px 28px #fff, 499px 1068px #fff, 138px 1450px #fff, 1336px 1392px #fff,
    63px 633px #fff, 233px 446px #fff, 361px 982px #fff, 1093px 541px #fff,
    1238px 1344px #fff, 408px 1629px #fff, 51px 1541px #fff, 813px 723px #fff,
    545px 1290px #fff, 49px 408px #fff, 350px 982px #fff, 1853px 246px #fff,
    1189px 887px #fff, 1331px 467px #fff, 888px 852px #fff, 1640px 1719px #fff,
    431px 55px #fff, 1129px 1413px #fff, 987px 1013px #fff, 35px 980px #fff,
    1279px 517px #fff, 596px 950px #fff, 1263px 26px #fff, 371px 230px #fff,
    1183px 1452px #fff, 1763px 161px #fff, 866px 1299px #fff, 747px 1539px #fff,
    719px 55px #fff, 1040px 1703px #fff, 549px 950px #fff, 1340px 765px #fff,
    1360px 1785px #fff, 1434px 879px #fff, 1604px 1772px #fff,
    1408px 1071px #fff, 892px 1788px #fff, 1730px 1853px #fff,
    1339px 1227px #fff, 1286px 559px #fff, 259px 381px #fff, 94px 222px #fff,
    176px 1718px #fff, 812px 743px #fff, 200px 1855px #fff, 1738px 1937px #fff,
    1924px 951px #fff, 1380px 349px #fff, 207px 754px #fff, 1180px 542px #fff,
    1173px 1159px #fff, 1856px 1399px #fff, 65px 822px #fff, 122px 733px #fff,
    1980px 1776px #fff, 647px 192px #fff, 583px 1822px #fff, 1705px 26px #fff,
    1379px 1985px #fff, 448px 389px #fff, 1177px 330px #fff, 1037px 560px #fff,
    1566px 439px #fff, 1395px 271px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1487px 417px #fff, 1012px 1195px #fff, 1649px 925px #fff,
    1493px 1073px #fff, 1665px 439px #fff, 982px 1459px #fff, 1175px 775px #fff,
    443px 285px #fff, 702px 1231px #fff, 1695px 1124px #fff, 316px 688px #fff,
    1175px 512px #fff, 448px 1489px #fff, 1675px 241px #fff, 1641px 569px #fff,
    1041px 1896px #fff, 624px 1281px #fff, 1070px 1690px #fff, 218px 75px #fff,
    411px 1813px #fff, 1728px 855px #fff, 1416px 42px #fff, 1731px 463px #fff,
    994px 31px #fff, 1707px 1119px #fff, 1274px 254px #fff, 1296px 1px #fff,
    644px 455px #fff, 747px 1969px #fff, 583px 218px #fff, 1138px 1048px #fff,
    1606px 1763px #fff, 1620px 346px #fff, 1177px 774px #fff, 743px 1555px #fff,
    1653px 1640px #fff, 1910px 835px #fff, 819px 1348px #fff, 1174px 1725px #fff,
    1777px 1035px #fff, 830px 372px #fff, 1771px 67px #fff, 572px 1684px #fff,
    593px 1208px #fff, 1924px 656px #fff, 1609px 1449px #fff, 125px 62px #fff,
    839px 766px #fff, 640px 1394px #fff, 303px 1417px #fff, 785px 1123px #fff,
    347px 55px #fff, 334px 1379px #fff, 1458px 1449px #fff, 1496px 1073px #fff,
    869px 607px #fff, 1264px 96px #fff, 1796px 1307px #fff, 601px 1450px #fff,
    1724px 751px #fff, 150px 1081px #fff, 970px 896px #fff, 1582px 1164px #fff,
    1588px 1974px #fff, 50px 1465px #fff, 1676px 715px #fff, 873px 29px #fff,
    1215px 9px #fff, 1154px 690px #fff, 499px 1898px #fff, 484px 679px #fff,
    489px 1421px #fff, 261px 465px #fff, 107px 1501px #fff, 876px 99px #fff,
    1581px 1201px #fff, 1694px 1915px #fff, 96px 406px #fff, 1521px 743px #fff,
    678px 1324px #fff, 665px 332px #fff, 998px 424px #fff, 1496px 725px #fff,
    127px 119px #fff, 1952px 1820px #fff, 967px 127px #fff, 434px 388px #fff,
    54px 1066px #fff, 1485px 767px #fff, 1069px 1863px #fff, 106px 1487px #fff,
    1989px 1160px #fff, 1191px 1162px #fff, 343px 1596px #fff, 584px 500px #fff,
    1401px 1700px #fff, 392px 1389px #fff, 1259px 1287px #fff, 386px 1293px #fff,
    1185px 1185px #fff, 595px 464px #fff, 937px 1845px #fff, 322px 1180px #fff,
    1487px 1498px #fff, 1345px 1087px #fff, 258px 1960px #fff, 568px 1399px #fff,
    1305px 1703px #fff, 587px 1578px #fff, 564px 64px #fff, 1964px 570px #fff,
    1452px 1850px #fff, 1218px 63px #fff, 1132px 1137px #fff, 1394px 316px #fff,
    1135px 727px #fff, 1565px 1683px #fff, 1083px 61px #fff, 1227px 929px #fff,
    268px 1544px #fff, 1214px 517px #fff, 1588px 1405px #fff, 1168px 1151px #fff,
    1221px 1657px #fff, 1248px 1487px #fff, 1422px 1312px #fff,
    713px 1034px #fff, 1792px 284px #fff, 459px 805px #fff, 1292px 57px #fff,
    955px 1193px #fff, 799px 1846px #fff, 1233px 90px #fff, 345px 1448px #fff,
    1122px 1029px #fff, 1737px 876px #fff, 1627px 638px #fff, 597px 1868px #fff,
    1118px 1871px #fff, 14px 1977px #fff, 638px 78px #fff, 701px 1953px #fff,
    473px 53px #fff, 274px 1180px #fff, 295px 1751px #fff, 1662px 1409px #fff,
    559px 183px #fff, 832px 1237px #fff, 635px 1635px #fff, 1973px 281px #fff,
    567px 644px #fff, 721px 761px #fff, 978px 1959px #fff, 959px 385px #fff,
    296px 1392px #fff, 233px 1069px #fff, 1322px 342px #fff, 201px 1542px #fff,
    1689px 446px #fff, 1719px 861px #fff, 1647px 740px #fff, 1168px 739px #fff,
    1018px 658px #fff, 1480px 189px #fff, 861px 1664px #fff, 1683px 1786px #fff,
    1710px 414px #fff, 45px 177px #fff, 1859px 802px #fff, 1574px 1379px #fff,
    1433px 43px #fff, 708px 1839px #fff, 684px 1370px #fff, 1515px 923px #fff,
    709px 908px #fff, 1329px 67px #fff, 1108px 1693px #fff, 1957px 66px #fff,
    1102px 992px #fff, 1328px 1457px #fff, 1248px 1957px #fff, 1971px 29px #fff,
    1158px 783px #fff, 916px 1482px #fff, 485px 1015px #fff, 1679px 1425px #fff,
    1408px 582px #fff, 529px 291px #fff, 321px 770px #fff, 1751px 316px #fff,
    1341px 293px #fff, 318px 234px #fff, 1161px 1797px #fff, 1690px 407px #fff,
    9px 371px #fff, 412px 1673px #fff, 1617px 297px #fff, 1701px 1287px #fff,
    1592px 615px #fff, 1575px 505px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1487px 417px #fff, 1012px 1195px #fff, 1649px 925px #fff,
    1493px 1073px #fff, 1665px 439px #fff, 982px 1459px #fff, 1175px 775px #fff,
    443px 285px #fff, 702px 1231px #fff, 1695px 1124px #fff, 316px 688px #fff,
    1175px 512px #fff, 448px 1489px #fff, 1675px 241px #fff, 1641px 569px #fff,
    1041px 1896px #fff, 624px 1281px #fff, 1070px 1690px #fff, 218px 75px #fff,
    411px 1813px #fff, 1728px 855px #fff, 1416px 42px #fff, 1731px 463px #fff,
    994px 31px #fff, 1707px 1119px #fff, 1274px 254px #fff, 1296px 1px #fff,
    644px 455px #fff, 747px 1969px #fff, 583px 218px #fff, 1138px 1048px #fff,
    1606px 1763px #fff, 1620px 346px #fff, 1177px 774px #fff, 743px 1555px #fff,
    1653px 1640px #fff, 1910px 835px #fff, 819px 1348px #fff, 1174px 1725px #fff,
    1777px 1035px #fff, 830px 372px #fff, 1771px 67px #fff, 572px 1684px #fff,
    593px 1208px #fff, 1924px 656px #fff, 1609px 1449px #fff, 125px 62px #fff,
    839px 766px #fff, 640px 1394px #fff, 303px 1417px #fff, 785px 1123px #fff,
    347px 55px #fff, 334px 1379px #fff, 1458px 1449px #fff, 1496px 1073px #fff,
    869px 607px #fff, 1264px 96px #fff, 1796px 1307px #fff, 601px 1450px #fff,
    1724px 751px #fff, 150px 1081px #fff, 970px 896px #fff, 1582px 1164px #fff,
    1588px 1974px #fff, 50px 1465px #fff, 1676px 715px #fff, 873px 29px #fff,
    1215px 9px #fff, 1154px 690px #fff, 499px 1898px #fff, 484px 679px #fff,
    489px 1421px #fff, 261px 465px #fff, 107px 1501px #fff, 876px 99px #fff,
    1581px 1201px #fff, 1694px 1915px #fff, 96px 406px #fff, 1521px 743px #fff,
    678px 1324px #fff, 665px 332px #fff, 998px 424px #fff, 1496px 725px #fff,
    127px 119px #fff, 1952px 1820px #fff, 967px 127px #fff, 434px 388px #fff,
    54px 1066px #fff, 1485px 767px #fff, 1069px 1863px #fff, 106px 1487px #fff,
    1989px 1160px #fff, 1191px 1162px #fff, 343px 1596px #fff, 584px 500px #fff,
    1401px 1700px #fff, 392px 1389px #fff, 1259px 1287px #fff, 386px 1293px #fff,
    1185px 1185px #fff, 595px 464px #fff, 937px 1845px #fff, 322px 1180px #fff,
    1487px 1498px #fff, 1345px 1087px #fff, 258px 1960px #fff, 568px 1399px #fff,
    1305px 1703px #fff, 587px 1578px #fff, 564px 64px #fff, 1964px 570px #fff,
    1452px 1850px #fff, 1218px 63px #fff, 1132px 1137px #fff, 1394px 316px #fff,
    1135px 727px #fff, 1565px 1683px #fff, 1083px 61px #fff, 1227px 929px #fff,
    268px 1544px #fff, 1214px 517px #fff, 1588px 1405px #fff, 1168px 1151px #fff,
    1221px 1657px #fff, 1248px 1487px #fff, 1422px 1312px #fff,
    713px 1034px #fff, 1792px 284px #fff, 459px 805px #fff, 1292px 57px #fff,
    955px 1193px #fff, 799px 1846px #fff, 1233px 90px #fff, 345px 1448px #fff,
    1122px 1029px #fff, 1737px 876px #fff, 1627px 638px #fff, 597px 1868px #fff,
    1118px 1871px #fff, 14px 1977px #fff, 638px 78px #fff, 701px 1953px #fff,
    473px 53px #fff, 274px 1180px #fff, 295px 1751px #fff, 1662px 1409px #fff,
    559px 183px #fff, 832px 1237px #fff, 635px 1635px #fff, 1973px 281px #fff,
    567px 644px #fff, 721px 761px #fff, 978px 1959px #fff, 959px 385px #fff,
    296px 1392px #fff, 233px 1069px #fff, 1322px 342px #fff, 201px 1542px #fff,
    1689px 446px #fff, 1719px 861px #fff, 1647px 740px #fff, 1168px 739px #fff,
    1018px 658px #fff, 1480px 189px #fff, 861px 1664px #fff, 1683px 1786px #fff,
    1710px 414px #fff, 45px 177px #fff, 1859px 802px #fff, 1574px 1379px #fff,
    1433px 43px #fff, 708px 1839px #fff, 684px 1370px #fff, 1515px 923px #fff,
    709px 908px #fff, 1329px 67px #fff, 1108px 1693px #fff, 1957px 66px #fff,
    1102px 992px #fff, 1328px 1457px #fff, 1248px 1957px #fff, 1971px 29px #fff,
    1158px 783px #fff, 916px 1482px #fff, 485px 1015px #fff, 1679px 1425px #fff,
    1408px 582px #fff, 529px 291px #fff, 321px 770px #fff, 1751px 316px #fff,
    1341px 293px #fff, 318px 234px #fff, 1161px 1797px #fff, 1690px 407px #fff,
    9px 371px #fff, 412px 1673px #fff, 1617px 297px #fff, 1701px 1287px #fff,
    1592px 615px #fff, 1575px 505px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1997px 257px #fff, 506px 998px #fff, 1488px 48px #fff,
    483px 618px #fff, 167px 256px #fff, 1026px 602px #fff, 1902px 1196px #fff,
    345px 1352px #fff, 385px 1983px #fff, 1122px 401px #fff, 1255px 378px #fff,
    21px 1837px #fff, 313px 1601px #fff, 812px 1020px #fff, 633px 68px #fff,
    1130px 625px #fff, 195px 1445px #fff, 1740px 895px #fff, 287px 1187px #fff,
    1059px 1871px #fff, 956px 828px #fff, 1699px 1375px #fff, 1588px 618px #fff,
    155px 1597px #fff, 1553px 1279px #fff, 1439px 1836px #fff, 630px 1636px #fff,
    1865px 1562px #fff, 1237px 584px #fff, 458px 574px #fff, 1326px 1204px #fff,
    803px 337px #fff, 1049px 2px #fff, 1685px 855px #fff, 908px 1456px #fff,
    1757px 1441px #fff, 210px 878px #fff, 1485px 1576px #fff, 1031px 1038px #fff,
    1853px 1812px #fff, 1525px 1740px #fff, 1901px 42px #fff, 1999px 1387px #fff,
    319px 1458px #fff, 1448px 264px #fff, 1447px 187px #fff, 699px 209px #fff,
    1766px 622px #fff, 902px 94px #fff, 437px 1234px #fff, 1448px 744px #fff,
    940px 1559px #fff, 1311px 1076px #fff, 1403px 677px #fff, 56px 370px #fff,
    1711px 1696px #fff, 277px 504px #fff, 1300px 367px #fff, 242px 1913px #fff,
    938px 1991px #fff, 1387px 1264px #fff, 390px 329px #fff, 1329px 427px #fff,
    1373px 1052px #fff, 430px 870px #fff, 904px 1539px #fff, 1655px 880px #fff,
    390px 314px #fff, 682px 1166px #fff, 1706px 171px #fff, 446px 1688px #fff,
    259px 1912px #fff, 1518px 1521px #fff, 194px 219px #fff, 826px 1452px #fff,
    1598px 1265px #fff, 378px 1564px #fff, 1789px 1416px #fff,
    1656px 1983px #fff, 5px 1858px #fff, 556px 591px #fff, 879px 1355px #fff,
    1584px 693px #fff, 881px 867px #fff, 505px 441px #fff, 1453px 787px #fff,
    1156px 700px #fff, 1886px 1044px #fff, 869px 1099px #fff, 11px 913px #fff,
    1807px 1906px #fff, 1767px 1864px #fff, 1385px 771px #fff, 634px 1002px #fff,
    96px 448px #fff, 1127px 1132px #fff, 1599px 172px #fff, 1313px 1475px #fff,
    1816px 1052px #fff, 647px 463px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1997px 257px #fff, 506px 998px #fff, 1488px 48px #fff,
    483px 618px #fff, 167px 256px #fff, 1026px 602px #fff, 1902px 1196px #fff,
    345px 1352px #fff, 385px 1983px #fff, 1122px 401px #fff, 1255px 378px #fff,
    21px 1837px #fff, 313px 1601px #fff, 812px 1020px #fff, 633px 68px #fff,
    1130px 625px #fff, 195px 1445px #fff, 1740px 895px #fff, 287px 1187px #fff,
    1059px 1871px #fff, 956px 828px #fff, 1699px 1375px #fff, 1588px 618px #fff,
    155px 1597px #fff, 1553px 1279px #fff, 1439px 1836px #fff, 630px 1636px #fff,
    1865px 1562px #fff, 1237px 584px #fff, 458px 574px #fff, 1326px 1204px #fff,
    803px 337px #fff, 1049px 2px #fff, 1685px 855px #fff, 908px 1456px #fff,
    1757px 1441px #fff, 210px 878px #fff, 1485px 1576px #fff, 1031px 1038px #fff,
    1853px 1812px #fff, 1525px 1740px #fff, 1901px 42px #fff, 1999px 1387px #fff,
    319px 1458px #fff, 1448px 264px #fff, 1447px 187px #fff, 699px 209px #fff,
    1766px 622px #fff, 902px 94px #fff, 437px 1234px #fff, 1448px 744px #fff,
    940px 1559px #fff, 1311px 1076px #fff, 1403px 677px #fff, 56px 370px #fff,
    1711px 1696px #fff, 277px 504px #fff, 1300px 367px #fff, 242px 1913px #fff,
    938px 1991px #fff, 1387px 1264px #fff, 390px 329px #fff, 1329px 427px #fff,
    1373px 1052px #fff, 430px 870px #fff, 904px 1539px #fff, 1655px 880px #fff,
    390px 314px #fff, 682px 1166px #fff, 1706px 171px #fff, 446px 1688px #fff,
    259px 1912px #fff, 1518px 1521px #fff, 194px 219px #fff, 826px 1452px #fff,
    1598px 1265px #fff, 378px 1564px #fff, 1789px 1416px #fff,
    1656px 1983px #fff, 5px 1858px #fff, 556px 591px #fff, 879px 1355px #fff,
    1584px 693px #fff, 881px 867px #fff, 505px 441px #fff, 1453px 787px #fff,
    1156px 700px #fff, 1886px 1044px #fff, 869px 1099px #fff, 11px 913px #fff,
    1807px 1906px #fff, 1767px 1864px #fff, 1385px 771px #fff, 634px 1002px #fff,
    96px 448px #fff, 1127px 1132px #fff, 1599px 172px #fff, 1313px 1475px #fff,
    1816px 1052px #fff, 647px 463px #fff;
}
